/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/



:root{
--color--blue__marine--tint: #1b3e6b;
--color--blue__marine: #02295a;
--color--blue__purple: rgb(71, 61, 255);
--color--blue__pastel: rgb(173, 190, 255);
--color--blue__light: rgb(191, 226, 253);
--color--strawberry__red: rgb(237, 53, 72);

/* ### Neutral */

--color--gray__cool: rgb(150, 153, 171);
--color--gray__light: rgb(214, 217, 230);
--color--magnolia: rgb(240, 246, 255);
--color--alabaster: rgb(250, 251, 255);
--color--white: rgb(255, 255, 255);
--color--black: #000;

--default--font-size: 1.6rem;
--default--border-radius: 1.6rem;

--default-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu-Regular.ttf') format('truetype'),
       url('./fonts/Ubuntu-Bold.ttf') format('truetype') /* Bold weight */,
       url('./fonts/Ubuntu-Medium.ttf') format('truetype') /* Medium weight */;
  font-weight: normal; /* Applies to the regular font */
  font-style: normal;
}

html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: var(--default--font-size);
  color: var(--color--blue__marine);

  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color--magnolia);
}